c_files/dwt_prj

c_files/in_images


c_files/out_gold_images


c_files/out_images


c_files/dwt_prj

c_files/dwt_prj1

c_files/dwt_prj2

c_files/dwt_prj3

c_files/dwt_prj4

c_files/dwt_prj5

c_files/dwt_prj6

c_files/dwt_prj7

c_files/dwt_prj8

c_files/dwt_prj9

c_files/dwt_prj10

c_files/dwt_prj11

c_files/dwt_prj12

c_files/dwt_prj13

c_files/dwt_prj14

c_files/dwt_prj15

c_files/dwt_prj16

c_files/dwt_prj17

c_files/dwt_prj18

c_files/dwt_prj19

c_files/dwt_prj20


c_files/vivado_hls.log
c_files/makefile
c_files/dwt_all.tcl
c_files/dwt_test_1.o
c_files/dwt_test_1.c
c_files/dwt_test.o
c_files/dwt_test.c
c_files/dwt.o
c_files/dwt.exe
c_files/inverse.o
c_files/inverse.exe
c_files/interchange.o
c_files/interchange.exe
c_files/col_accessing.o
c_files/col_accessing.exe
c_files/non_var_loops.o
c_files/non_var_loops.exe
c_files/no_func.o
c_files/no_func.exe
c_files/single_sub_loops.o
c_files/single_sub_loops.exe
c_files/single_sub_loops_var.o
c_files/single_sub_loops_var.exe


c_files/1dwt_all.tcl

other_c_files/3D_array/dwt2_prj
other_c_files/3D_array/in_image.dat
other_c_files/3D_array/new.dat
other_c_files/3D_array/out.dat
other_c_files/3D_array/out.gold.dat

other_c_files/no_dir/dwt_prj
other_c_files/no_dir/in_images
other_c_files/no_dir/out_gold_images
other_c_files/no_dir/in_image.dat

other_c_files/test_1st_value/in_image_test.dat

mat_files/out.dat
mat_files/outx.dat
mat_files/outy.dat
mat_files/outz.dat